@import('https://gw.alipayobjects.com/os/k/font/lxgwwenkaiscreenr.css')
@import('https://gw.alipayobjects.com/os/k/t/comment.css')

body
  background-color #e8e8e8
  font-family 'LXGW WenKai Screen R'


#header
  box-shadow none

.header-wrapper .title a
  font-family 'LXGW WenKai Screen R'!important

.header-wrapper .header-right-wrap .nav .nav-item a
  font-family 'LXGW WenKai Screen R'!important

.ui-post
  background-color #fff
  margin-bottom 30px;
  padding 30px 50px 16px;
  box-shadow 0 0 0 0,0 6px 12px rgba(36,41,47,.1)

.ui-post-title,.vuepress-blog-theme-content,h1, h2, h3, h4, h5, h6
  font-family 'LXGW WenKai Screen R'!important

.pagination
  display: flex!important;
  justify-content: center;

.blog-tags
  width 100%!important